
/* Authenticated Component */
.authenticated {
    display: flex;
    height: 100vh;
    /* border: 2px solid green; */
  }
  
  aside {
    width: 250px;
    background-color: #999591;
    display: flex;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    flex-direction: column;
    padding: 20px;
    /* position: absolute; */
    /* top: 90px; */
    /* border: 1px solid; */
    /* margin-right: 20px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); */
  }
  
  aside .logo {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    height: 100px;
    margin: 0 auto;
    display: flex;
    padding: 10 auto;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    margin-bottom: 20px;
    /* border: 1px solid; */
  }
  .logo img {
    width: 30%;
    padding: 20px;
    /* height: 50%; */
  }
  aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  
  aside ul li {
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    /* border: 2px solid; */
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    /* transition: background-color 0.2s, color 0.2s; */
    /* background-color: #999591; */
    /* color: #333; */
  }
  
  aside ul li:hover {
    background-color: #eef3fd;
    color: #007bff;
    border-radius: 4px;
    padding-left: 10px;
  }
  
  .authenticated-content {
    flex: 1;
    background-color: #f9fafc;
    overflow-y: auto;
    /* border: 2px solid; */
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .authenticated{
      width: 100%;
      
    }
    aside{
      display: none;
      /* width: 200px; */
      /* border: 2px solid red; */
    }

    }