/* Style/Register.css */
.glass-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: rgb(157, 103, 161); */
    background: url('/resources/js/Assets/SiteSud.8d60a40fc4177a07cebc.jpg') no-repeat center center/cover;
}

.glass-card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.logo {
    width: 100px; /* Ajuste la taille selon ton besoin */
    height: auto;
    display: block;
    margin: 0 auto 15px auto; /* Centre le logo et ajoute un espace en bas */
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2)); /* Ajoute une légère ombre */
}

.glass-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

.glass-button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: rgb(78, 75, 70);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: white;
    text-decoration: underline;
}
